*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(aura\ wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 110%;

}

@keyframes fade-up {
    
    0%{
        opacity: 0;
    }
    

    100%{
        opacity: 1;
    }

}

@keyframes fade-left {
    
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }

    100%{
        opacity: 1;
        transform: translateX();
    }

}

@keyframes fade-right {
    
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
        transform: translateY();
    }
}


.container{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -60px;
    animation: fade-right 4s;
}

.imgcontainer{
    width: 30%;
    animation: fade-right 3.5s;
}

.container2{
    border: 2px #ffb8bf solid;
    box-shadow: 10px 5px 10px silver;
    justify-content: center;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 25px;
    padding-bottom: 10px;
    animation: fade-right 3s;
}

.h3{
    font-family: "Pacifico", cursive;
    font-weight: lighter;
    font-size: 23px;
    color: #ffb8bf;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 3px 5px gray;
    animation: fade-right 3s;
}

.hr1{
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: 2px 2px 2px #ffb8bf;
    animation: fade-right 3.5s;
}

.p1{
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #ffb8bf;
    animation: fade-right 4s;
}

.a1{
    text-decoration: none;
    font-family: "Indie Flower", cursive;
    color: black;
    display: flex;
    animation: fade-right 4.5s;
    font-weight: bold;
    margin-left: 350px;
}
